* {
    margin:0;
    padding:0;
    background-color: #FEFBF3;
    color: #395B64;
}
/* Nav bar */
img.logo {
  height: 100px;
  margin-left: 40px;
}

.logo {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

header {
  display: float;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FEFBF3;
  height: 75px;
}

header li {
  margin: 20px;
  font-size: 22px;
}

header li a {
  color: #395B64;
  text-decoration: none;
}

ul.topnav li {
  display: inline;
  float: right;
}

ul.topnav li a:hover:not(.active) {
  background-color:#F2DEBA;;
  border-radius: 7px;
}
s
ul.topnav li a.active {
  background-color: #F2DEBA;
  border-radius: 7px;
}
ul.topnav li.right {
  float: right;
}
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  min-width: 250px;
  height: auto;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #F2DEBA;
  border-radius: 7px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Welcome section*/

.welcome {
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: row;
  margin-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.welcome-img {
  margin-left: 30%;
  align-content: center;
  padding: auto;
}

.welcome-text {
  
  padding: auto;
}

.aloha {
  display: block;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 2em;
  font-size: 30px;
  color: #395B64;
}

h3 {
  font-size: 50px;
  margin-bottom: 15px;
}

.hello {
  position: relative;
  left: 10%;
  text-indent: 10%;
  width: 35em;
  font-size: 22px;
}

